#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 620px;
    width: 620px;
    border: solid;
}

button, select {
    margin-bottom: 5px;
    background-color: rgb(14, 20, 20);
    color: white;
    font-weight: bold;
    border:none;
    padding: 5px;
}

.line {
    display: flex;
    flex-grow: 1;
}

.square {
    border: 0.5px solid;
    flex-grow: 1;
}

.colored {
    background-color: blueviolet;
}

